.outlet_container{
	width: 100%;
}

.big_title{
  margin-bottom: 20px; 
}

.input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #f0f0f0;
  outline: none;
  width: 100%;
	height: 50px;
  margin: 10px 0;
}

.email{
  width: 60%;
}

.duplicateCheckButton{
  width: 40%;
  height: 50px;
  background-color: #FFC107;
  border: 2px solid transparent;
  border-radius: 10px;
  
  cursor: pointer;
}

.duplicateCheckButton:hover{
  background-color: #d0b134;
}

.duplicateCheckButton h2{
  font-size: 1em;
}


.input:focus {
  border-bottom: 2px solid #191919; 
}

.content_title{
	padding: 10px;
	margin: 0;
}

.message {
  display: none; 
  color: #777; 
  font-size: 0.8em;
  margin-top: 5px;
	width: 100%;
	text-align: left;
}


.error{
	color: #e65f32; 
	padding-left: 10px;
	font-size: 0.9em;
}


.signUp_button {
  padding: 15px 30px;
  background-color: #fad312; 
  color: #191919;
  border: none;
  border-radius: 5px; 
  margin: 20px 0;
  cursor: pointer; 
  width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2); /* 버튼에 그림자 효과 추가 */
}

.signUp_button:hover{
	background-color: #d0b134;
}



.right_align{
	text-align: right;
	position: relative;
}

.link_login{
	cursor: pointer;
  text-decoration: underline;
}
