.container{
	display: flex;
	flex-direction: column;
	width: 40vw;
}

.wrapper{
	border: 1px solid rgba(0, 0, 0, .12);
}

.input{
	padding: 10px 0;
	border-top: none;
	border-bottom: 1.5px solid #f0f0f0;
	margin: 20px;
}

.input:focus{
	border-bottom: 1.5px solid #191919;
}