.container{
  margin: 0;
  display: flex;
  align-items: center;
}

.duplicateCheckButton{
  
  height: 50px;
  background-color: #FFC107;
  border: 2px solid transparent;
  border-radius: 10px;
  
  cursor: pointer;
}

.duplicateCheckButton:hover{
  background-color: #d0b134;
}

.duplicateCheckButton h2{
  font-size: 1em;
}


